<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kikotoba.android">

    <!-- リスニング中のスリープ防止 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 音声入力 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- assetsを書き出してaudioのsrcで参照する -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kikotoba.android.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kikotoba.android.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.kikotoba.android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.kikotoba.android.SpeakingActivity"
            android:parentActivityName="com.kikotoba.android.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kikotoba.android.MainActivity" />
        </activity>
        <activity
            android:name="com.kikotoba.android.DictationActivity"
            android:parentActivityName="com.kikotoba.android.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kikotoba.android.MainActivity" />
        </activity>
        <activity
            android:name="com.kikotoba.android.ListeningActivity"
            android:parentActivityName="com.kikotoba.android.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kikotoba.android.MainActivity" />
        </activity>
        <activity
            android:name="com.kikotoba.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kikotoba.android.WebViewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>